<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* CSS style to remove bullet points from the list */
        ul {
          list-style-type: none;
        }
        .container { 
            border:2px solid #ccc; 
            width:500px; 
            height: 500px; 
            overflow-y: scroll; 
            padding-left: 10px;
        }
        .container li{
            display:flex;
            align-items: center;
            margin: 5px 0;
        }
      </style>
</head>

<body>
    <h1>
        OMER'S ROOM LIGHTS
    </h1>
    
    <form id="light_setting" action="/light_setting" method="post">
        <label>
            <input type="radio" id="LIGHTS_OFF" name="light_setting" value="LIGHTS_OFF" {% if current_behaviour == "LIGHTS_OFF" %} checked {% endif %}>
            <i>Lights Off {% if default_light_setting == "LIGHTS_OFF" %} (Default) {% endif %}
                {% if current_behaviour == "LIGHTS_OFF" %} (Active) {% endif %}
            </i>
        </label>
        <br/>
        <label>
            <input type="radio" id="SPOTIFY_LIGHTS_ON" name="light_setting" value="SPOTIFY_LIGHTS_ON" {% if current_behaviour == "SPOTIFY_LIGHTS_ON" %} checked {% endif %}>
            <i>Spotify Lights On {% if default_light_setting == "SPOTIFY_LIGHTS_ON" %} (Default) {% endif %} 
                {% if current_behaviour == "SPOTIFY_LIGHTS_ON" %} (Active) {% endif %} 
            </i>
            <i {%if username %} style="color:#00FF00" {%else%} style="color:#FF0000" {%endif%}> {%if username %} Logged In: {{ username }} {%else%} Logged Out {%endif%}</i>
            {%if username %}
            <a href="{{ url_for('logout') }}"><button type="button">Logout</button></a>
            {%else%}
            <a href="{{ url_for('login') }}"><button type="button">Login</button></a>
            {%endif%}
        </label>
        <br/>
        <label>
            <input type="radio" id="ANIMATION_LIGHTS_ON" name="light_setting" value="ANIMATION_LIGHTS_ON" {% if current_behaviour == "ANIMATION_LIGHTS_ON" %} checked {% endif %}>
            <i>Animations On {% if default_light_setting == "ANIMATION_LIGHTS_ON" %} (Default) {% endif %}
                {% if current_behaviour== "ANIMATION_LIGHTS_ON" %} (Active) {% endif %}
            </i>
        </label> 
        <br/>
        <label><input type="checkbox" id="make_setting_default" name="light_setting_cb" value="checked">Make This Setting Default Behaviour</label>
        <br/>
        <button type="submit">Submit</button>
    </form>


    <br/>
    
    <form id="base_color" action="/colors" method="post">
        <span>Input Base Color For Spotify Lights</span><br/>
        <input type="color" id="primary_color" name="primary_color"/><label for="head">Primary Color</label>
        <input type="color" id="secondary_color" name="secondary_color"/><label for="head">Secondary Color</label>
        <br/>
        <input type="submit">
    </form>
    
    <br/>

    <div>
        <form id="uploadForm">
            <input type="file" id="fileInput" name="file" />
            <button type="button" onclick="upload_animation()">Upload</button>
        </form>    
    </div>

    <br/>

    <input type="range" min="0" max="100" value="{{ brightness }}" id="brightness" onchange="on_brightness_change()" oninput="show_slider_val()"><span>Brightness: </span><span id="range_val_display">{{ brightness }}%</span>
    
    <br/>
    <br/>
    <form id="animation_form" action="/animation_files">
        <div class=container>
            <button type="button" name="dumb" id="select_deselect_all" value="select" onclick="check_uncheck_all_boxes()">Select All</button>
            <ul id="animations_checkboxes">
                {% for fileName in fileNames %}
                    <li>
                        <input type="checkbox" name="selected_files" value="{{ fileName }}" id="fileName_{{ loop.index }}"
                        {% if fileName in enabledFiles %} checked {% endif %} onclick="all_boxes_checked()"> 
                        <label for="fileName_{{ loop.index }}">{{ fileName }}</label>  
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button type="submit" name="action" value="select" formmethod="post">Select Animations / Set Duration</button>
        <button type="submit" name="action" value="delete" formmethod="post">Delete Animations</button>
        <button type="submit" name="action" value="download" formmethod="get">Download Animation Files</button>
        <br/>
        <input type="number" name="animation_duration" value="{{ duration }}" step="0.01"><span> Animation Duration (sec)</span>
    </form>
</body>
</html>

<script type="text/javascript">
    function submit_animation_form(action){
        const form = document.getElementById('animation_form')
        const formData = new FormData(form)

        formData.append('action', action)

        fetch('/animation_files', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            alert(response.ok)
            if(!response.ok){
                alert(response.status)
            }
            setTimeout(function(){
              window.location.href = "/"
            },
            1000)
        })
    }
    
    function upload_animation(){
        const files = document.getElementById('fileInput')
        const file = fileInput.files[0]

        if(!file){
            alert('No file was selected, please select a file.')
            return;
        }
        
        const formData = new FormData()
        formData.append('file', file)
        formData.append('action', 'upload')
        
        fetch('/animation_files', {
            method: 'POST',
            body: formData
        }).then(response => {
            if(response.ok){
                alert('The file was uploaded')
            }
            else{
                alert('There was an error uploading the file, please try again')
            }

            setTimeout(function(){
                window.location.href = "/"
            },
            1000)
        }).catch(error => {
            alert('There was an error uploading the file.')

            setTimeout(function(){
              window.location.href = "/"
            },
            1000)
        })
    }

    function all_boxes_checked(){
        const checkbox_elements = document.getElementById("animations_checkboxes").getElementsByTagName("input")
        let all_checked = true
        for(let i = 0; i < checkbox_elements.length; i++){
            all_checked = all_checked && checkbox_elements[i].checked
        }

        select_deselect_all_button = document.getElementById("select_deselect_all")
        if(all_checked){
            select_deselect_all_button.innerHTML = "Deselect All"
            select_deselect_all_button.value = "deselect"
        }
        else{
            select_deselect_all_button.innerHTML = "Select All"
            select_deselect_all_button.value = "select"
        }
    }

    function check_uncheck_all_boxes(){
        const checkbox_elements = document.getElementById("animations_checkboxes").getElementsByTagName("input")
        const select_deselect_all_button = document.getElementById("select_deselect_all")

        const val_to_set_checkboxes_to = select_deselect_all_button.value == "select"
        
        for(let i = 0; i < checkbox_elements.length; i++){
            checkbox_elements[i].checked = val_to_set_checkboxes_to
        }

        all_boxes_checked()
    }
    all_boxes_checked()

    function on_brightness_change(){
        brightness_slider = document.getElementById('brightness')
        fetch("http://192.168.1.80:9090/brightness", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ "brightness": document.getElementById('brightness').value })
        })
    }

    function show_slider_val(){
        brightness_slider = document.getElementById('brightness')
        brightness_display = document.getElementById('range_val_display')
        
        brightness_display.innerHTML = brightness_slider.value + '%'
    }

    (function load_primary_secondary_colors(){
        function convert_decimal_to_hex(num){
            num_hex = num.toString(16)
            if(num_hex.length < 2){
                num_hex = '0' + num_hex
            }

            return num_hex.toUpperCase()
        }

        let primary_color_input = document.getElementById('primary_color')
        let secondary_color_input = document.getElementById('secondary_color')

        let primary_color_hex = JSON.parse('{{ primary_color | tojson | safe }}').map(convert_decimal_to_hex).reduce((acc, s) => acc + s, '#')
        let secondary_color_hex = JSON.parse('{{ secondary_color | tojson | safe }}').map(convert_decimal_to_hex).reduce((acc, s) => acc + s, '#')
        
        primary_color_input.value = primary_color_hex
        secondary_color_input.value = secondary_color_hex
    })()
</script>